<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单确认</title>
    <link rel="stylesheet" href="../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/head.css"/>
    <link rel="stylesheet" href="../css/verify.css"/>
    <link rel="stylesheet" href="../css/projectList.css"/>
    <link rel="stylesheet" href="../css/bottom.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/jsviews.js"></script>
    <script type="text/javascript" src="../js/loadTmpl.js"></script>
    <script src="../js/commons.js"></script>
    <style>
        .content{
            min-height: 600px;
        }
    </style>
</head>
<body>
<!--头部start-->
    <div class="head">
        <div class="head-content">
            <div class="head-left pull-left">
                <ul class="ul1">
                    <li>
                        <ul>
                            <span><a href="mydata.html"><img src="../images/index/touxiang.png"></a></span>
                            <li><a href="mydata.html"id="username"></a></li>
                            <li id="nannv"></li>
                        </ul>
                    </li>
                    <li><a href="login.html">退出</a></li>
                </ul>
            </div>
            <div class="head-right pull-right">
                <ul>
                    <li><img src="../images/index/kefu.png" ></li>
                    <li class="phone">客服热线</li>
                    <li class="number">021-6124123</li>
                </ul>
            </div>
        </div>
    </div>
    <!--头部end-->
<script>
    var username=window.sessionStorage.getItem("userName")
    var id=window.sessionStorage.getItem("gender")
    var nannv="";
    $("#username").text(username);
    if(id==0){nannv="先生"}else if(id==1){nannv="女士"}
    $("#nannv").text(nannv)
</script>
    <!-- 导航栏start-->
    <div class="nav">
        <div class="nav-content">
            <div class="nav-left pull-left">
                <a href="../index.html"><img src="../images/index/logo.png"/></a>
            </div>
            <div class="nav-right pull-right">
                <ul>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="productLine.html">产品系列</a></li>
                    <li><a href="case.html">成功案例</a></li>
                    <li><a href="platform.html">平台介绍</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航栏end-->
    <!--content start-->
    <div class="content container">
        <div class="myIndent">
            <div class="indent-top">请确认您的订单！</div>
            <form class="details">
                <table>
                    <tr>
                        <td><span>面积：</span><span id="area"></span></td>
                        <td><span>产品系列：</span><span id="style">风</span></td>
                    </tr>
                    <tr>
                        <td><span>单价：</span><span id="pingjunprice">1200/m²</span></td>
                        <td><span>参考价格：</span><span class="price" id="price">￥120,000.00</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"><span>附加：</span><span id="uptext"></span></td>
                    </tr>
                </table>
                <div class="btn-box"><a class="nextStep" onclick="nextStep()" href="submitIndent.html">下一步</a></div>
            </form>
        </div>
        <div class="productLine clearfix div2">
            </div>
        </div>
    </div>
    <!--content end-->
<script type="text/x-jsrender" id="list">
        <div class="productLine-top">
                <img src="../images/product/logo03.png" alt=""/>
                <span>项目清单</span>
        </div>
            {{for sceneVoList}}

                {{if materialItemsList}}
                    <div class="listing pull-right clearfix">
                        <div class="item" data-did="{{:id}}">
                            <img src="../images/product/juxing.png" alt=""/>
                            <span>{{:sceneName}}</span>
                        </div>

                        <div class="upgrade-box ff">
                        {{for upgradeList}}
                           {{if upgradeName}}
                            <div class="upgrade">
                                    <div class="p-top">{{:upgradeName}}升级包</div>
                                    {{for  materialItemsList}}
                                    <div class="clearfix">
                                        <div class="pull-left"><img src="{{getImagePath:imgurl}}" alt=""/></div>
                                        <div class="pull-right">
                                            <p class="p1"><span><span class="name">名称：{{:itemName}}</span></span><span>品牌：{{:brand}}</span><span>型号：{{:modelType}}</span></p>
                                            <p>
                                                <span>描述:</span>
                                                <span>{{:itemDesc}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    {{/for}}
                            </div>

                             {{/if}}
                        {{/for}}
                        </div>

                        <div class="base-box">
                        {{for materialItemsList}}
                            <div class="base clearfix">
                                <div class="left pull-left"><img src="{{getImagePath:imgurl}}" alt=""/></div>
                                <div class="right pull-right">
                                    <p class="p1"><span><span>名称：{{:itemName}}</span></span><span>牌品：{{:brand}}</span><span>型号：{{:modelType}}</span></p>
                                    <p>
                                        <span>描述:</span>
                                        <span>
                                            {{:itemDesc}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        {{/for}}
                        </div>
                    </div>
                 {{/if}}

            {{/for}}
</script>

    <!--底部start-->
    <div class="bottom-box">
        <div class="bottom">
            <div class="bottom-left pull-left">
                <div class="relation">
                    <span><a href="platform.html?id=0">关于我们</a></span>
                    <span><a href="platform.html?id=1">联系我们</a></span>
                    <span><a href="feedback.html">意见反馈</a></span>
                </div>
                <div class="service">
                    <span>客服热线:</span>
                    <span>021-61231234</span>
                </div>
                <div class="copyright"><span>© 版权所有 2015 粤ICP备12081684号</span></div>
            </div>
            <div class="bottom-right pull-right">
                <div class="f1">微信客户端</div>
                <div class="f2"><img src="../images/index/erweima.png"></div>
                <div class="f3">扫一扫</div>
            </div>
        </div>
    </div>
<!--底部end-->

</body>
</html>
<script src="../js/confirmIndent.js"></script>
