.content{
    width: 1050px;
    margin: 20px auto;
    position: relative;
    min-height: 500px;
}
.content .content-left{
    position: absolute;
    width: 169px;
    height: 100%;
    background-color: #f6f6f6;
    border: 1px solid #cccccc;
}
.content .content-left ul li{
    width: 169px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.content .content-left ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /*color: black;*/
    text-decoration: none;
}
/*.content .content-left ul li a:hover{
    color: white;
    text-decoration: none;
}*/
.content .content-left ul li{
    width: 169px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
/*.content .content-left ul li:hover{*/
    /*background-image: url("../images/platform/li.png");*/
    /*color: white;*/
/*}*/
.content-box
.intro{
    width: 860px;
    margin: 0px auto;
}
.intro h1{
    font-size: 16px;
    margin-top: 5px;
}
.banner-box{
    margin-top: 20px;
}
.banner-box,
.banner,
.banner ul li img{
    width: 860px;
    height: 405px;
}
.banner{
    overflow: hidden;
}

.productLine{
    width: 860px;
    margin: 0 auto;
}
.productLine .productLine-top{
    margin: 20px 0;
}
.productLine .productLine-top span{
    color: #ed6d00;
    font-size: 16px;
}
.productLine .listing{
    width: 840px;
    font-size: 12px;
    margin-bottom: 20px;
}
.productLine .listing .item{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.productLine .upgrade-box{
    margin-top: 20px;
}
.productLine .upgrade-box .upgrade{
    background-color: #f5f5f5;
    padding-top: 10px;
    height: 155px;
}
.productLine .upgrade-box .upgrade~.upgrade{
    border-top: 1px dashed #cccccc;
    padding-top: 5px;
}
.productLine div .p-top{
    margin-left: 20px;
}
.productLine  div .pull-left{
    margin: 10px 10px 15px 20px;
}
.productLine  div .pull-left img{
    width: 135px;
    height: 108px;
}
.productLine div .pull-right{
    margin: 10px 20px 15px 10px;
    width: 645px;
}
.productLine div p{
    line-height: 20px;
}
.productLine .upgrade-box~div{
    margin-top: 20px;
}
.productLine .base{
    height: 110px;
    margin-top: 20px;
    position: relative;
}
.productLine .base .left{
    position: absolute;
    top: 0px;
    left: 0;
}
.productLine .base .left img{
    width: 135px;
    height: 108px;
}
.productLine .base .right{
    width: 730px;
    position: absolute;
    top: 0px;
    right: -6%;
}
.productLine div .p1 span{
    display: inline-block;
    *display:inline; *zoom:1;
    width: 205px;
}
.productLine .upgrade-box~div div{
    margin-left: 0px;
}
