
.content .pull-right{
    width: 860px;
    height: 581px;
    border: 1px solid #d8d8d8;
}
.content .pull-right .logo-top{
    margin-top: 40px;
    text-align: center;
}
/*.content .pull-right p{*/
    /*padding: 20px;*/
    /*line-height: 23px;*/
    /*font-size: 13px;*/
/*}*/

.content .pull-right .map{
    text-align: center;
}
.content .pull-right .ys{
    padding: 0;
}
#introTpl{
    width: 80%;
    margin: 0 auto;
    /*height: 360px;*/
    /*overflow: hidden;*/
    padding-top: 50px;
    /*overflow-y: scroll;*/
}
#introTpl p>img{
    width: 0;
    height:0;
}
